.about__info,
.why-us__info {
  max-width: 554px;
}
.about__info {
  margin-left: auto;
}
.why-us__info {
  margin-right: auto;
}

.about__title,
.why-us__title,
.about__title-sm,
.why-us__title-sm {
  margin-bottom: 26px;
}

.about__image-lg {
  left: -85px;
}
.about__image-sm {
  left: -278px;
}
.why-us__image-lg {
  right: -101px;
}
.why-us__image-sm {
  right: -294px;
}