.services__inner {
  justify-content: space-between;
}
.services__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - $offset*2);

  &:hover{
    .services__item-title{
      color: $color-accent-light;
    }
    .services__item-icon path {
      fill: $color-accent-light;
    }
  }
}
.services__item-icon {
  height: 100px;

  path {
    transition: fill $transition-normal;
  }
}
.services__item-title {
  margin-bottom: 16px;
  transition: color $transition-normal;
}
.services__item-text {
  margin-bottom: 34px;
  font-size: 14px;
}
.services__item-link {
  border: 1px solid transparent;
  margin-top: auto;
  border-radius: 50px;
  padding: 20px 0 21px;
  width: 200px;
  background-color: $color-accent;
  text-align: center;
  line-height: 1;
  color: #fff;
  transition: all $transition-fast;

  &:hover {
    border-color: $color-accent;
    background-color: #fff;
    color: $color-accent;
  }
}
