// ============== COLORS ============== //
$color-accent:         #1d9d73;
$color-title:            #333333;
// $color-?:          #505050;
$color-text:           #888888;
$color-border-line:    #e5e9eb;
// == BACKGROUNDS == //
$color-main-bg:        #fff;

// ============== FONTS ============== //
$basic-family: "Ubuntu", "Repo", "AbsolutPro-Book", sans-serif;
$fsize-text: 18px;
$lheight-text: 1.6;

// ============== TRANSITIONS ============== //
$transition-fast: 0.3s;