// ============== COLORS ============== //
$color-accent:  #1d9d73;
$dark-gray:     #333333;
$color-title:   #505050;
$color-text:    #888888;
// === BACKGROUNDS === //
$color-main-bg: #FFF;

// ============== FONTS ============== //
$basic-family: "Ubuntu", "Repo", "AbsolutPro-Book", sans-serif;
$fsize-text: 18px;
$lheight-text: 1.6;

// ============== TRANSITIONS ============== //
$transition-fast: 0.3s;